<h1 class="center">Editing Content <em class="content-color"><%= @content.title %></em></h1>

<%= render 'form' %>

<%= link_to 'Show contents', @content %> |
<%= link_to 'Back to contents', contents_path %>
