<div class="center">
  <div class="row">
    <h2 class="home-subtitle">What can you do with SharingPal?</h2>
    <div class="col s12 m4">
      <i class="material-icons medium blue-grey-text text-darken-3">library_books</i>
      <h5>What you can find on SharingPal</h5>
      <p>There are no limits to the types of short-term sharing services you can provide or ask: from making your house become a coworking space, to share your oven or your burner, to rent out your bed or your sofa to people who want to take a quick nap, to rent out your toilet; it is everything up to your fantasy.  </p>
    </div>
    <div class="col s12 m4">
      <i class="material-icons medium blue-grey-text text-darken-3">motorcycle</i>
      <h5>Become a host</h5>
      <p>Both to earn extra income from their spare space and to know new people: hosts use SharingPal for a variety of reasons. Be one of them. </p>
    </div>
    <div class="col s12 m4">
      <i class="material-icons medium blue-grey-text text-darken-3">library_add</i>
      <h5>Find a host</h5>
      <p>Either you are a freelancer tired of the high fees of coworking spaces, or you are in need of an oven or a burner to prepare your meal, or you just want to take a quick nap before restarting your activities, SharingPal is precisely what you need: Cheap, safe and easy to use. </p>
    </div>
  </div>
</div>
