@import "materialize";

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'PT Sans', sans-serif;
  }

h1 {
    
    font-size: 3.5em;
}

h2 {
    
    font-size: 2em;
}

  main {
    flex: 1 0 auto;
  }

.home-subtitle {
    
    margin: 5% 0 5% 0;
}

.btn-devise {
    
    width: 100%;
    
}

.show-img {
    
    padding-right: 5%;
    
}

.show-title {
    
    margin-top: 0;
    font-size: 3em;
}

.show-price {
    
    font-size: 2em;
}

.btn-form {
    
    width: 100%;
}

.content-color {
    
    color: #b71c1c;
    
}

.card-image {
  height: 150px;
}



