<h1>Already registered?</h1>


<%= link_to "Login", registrations_path, class: "btn red btn-large" %>


<h1>Not yet registered? </h1>

<%= link_to "Sign Up", registrations_path, class: "btn red btn-large" %>

